<% google_account_linked = @user.linked_account.any? { |linked_account| linked_account.account_type == 'google'}
 dropbox_account_linked = @user.linked_account.any? { |linked_account| linked_account.account_type == 'dropbox'} %>

<div class="navbar navbar-default" role="navigation">
<a class="navbar-brand" href="#">D2D Sync</a>
			<ul class="nav navbar-nav navbar-right">
            
            <li class="logout">
            <a href="/logout">Logout</a>
            </li>
            <li style="visibility: hidden;">dummy</li>
            
          </ul>
      

</div>


<div class="container">


<div class="row">
  <div class="col-md-8">
  	<h1>Hi <%= @user.name  %> </h1> 
<p class="lead">
You can sync your files from dropbox account to google account, once you have linked them both.
</p>

	<p id="initiate_sync">
	<% copy_disabled = "" %>
	<p>
	<% if(!google_account_linked or !dropbox_account_linked) %>
		You have to link both google and dropbox in order to sync a file, currently you have your google account <%= (google_account_linked ? "linked":"unlinked") %>,
		your dropbox account <%= (dropbox_account_linked ? "linked" : "unlinked") %>.
		<% copy_disabled = "disabled" %>
	<% end %>
	</p>
	<p>
	<button type="button" class="btn btn-primary btn-lg copy <%= copy_disabled %>">Copy from dropbox to drive</button>.
	</p>
</p>

<p id="sync_status">

</p>

  </div>
  <div class="col-md-4" style="margin-top: 5em;">
  	<p>
<% if google_account_linked %>
	<button type="button" class="btn btn-primary btn-lg google-unlink pbtn">Unlink Google Account</button> 
<%else %>
	<button type="button" class="btn btn-primary btn-lg google-signin pbtn">Link Google Account</button>
<% end %>  
</p>
<o>
<% if dropbox_account_linked %>
	<button type="button" class="btn btn-primary btn-lg dropbox-unlink pbtn">Unlink Dropbox Account</button> 
<% else %>
	<button type="button" class="btn btn-primary btn-lg dropbox-signin pbtn">Link Dropbox Account</button>
<% end %>  
</p>

  </div>
</div>





</div>

