<h1>Sync file from Dropbox to Google drive</h1>
<h3>Please sign in</h3>
<p>
  <button type="button" class="btn btn-primary btn-lg google-signin">Sign-in with Google</button>
  <button type="button" class="btn btn-primary btn-lg dropbox-signin">Sign-in with Dropbox</button>
  <footer><button type="button" class="btn btn-default btn-sm app-logout">Log out</button></footer>
</p>
